@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    border-style: solid;
    background-image: url("./assets/cyberpunkBackground.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    margin: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
img[src="./assets/CyberpunkLogo.png"] {
    max-width: 100vh;
}

img[src="./assets/v.png"] {
    max-width: 75vh;
    max-height: 100vh;
}

/* h1 {
    font-weight: bold;
    font-size: 3vw;
    margin-top: 1.5rem;
    align-self: center;
}

.body-container {
    background-color: red;
    margin-right: 3vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
    
}
.countdown-container {
    display: flex;
    margin-bottom: 1.5rem;
}

.big-text {
    font-weight: normal;
    font-size: 4vw;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5vw;
}

.testing {
    width: 50vw;
    height: 5vw;
} */