@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./assets/cyberpunk.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}